@import "../App.scss";
li{
  padding-left: 1em;
}

.bannerdiv{
  background: #0E103D;
}

.main-nav {
  display: flex;
  background: $headerBgColor;
  color: $headerFontColor;
  list-style-type: none;
  margin:0;

  li:first-child {
    margin-right: auto;
  }

  a {
    background: $headerBgColor;
    display: block;
    padding: 15px;
    text-decoration: none;
    
    &:hover {
      background: $postContainerColor;
      color:$headerBgColor;
      font-weight: bolder;
    }
  }
 
}




.main-nav .logo {
  font-family: 'Kaushan Script';
  font-size: 2em;
  color: $headerFontColor;
}