nav {
  background-color: navy;
  color:white;
  height: 60px;
}
.myface-banner{
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: flex-end;
  margin:0;
  background: deepskyblue;
}