@import "../App.scss";


img {
 
  max-width: 85vw;
  max-height: 40vh;
}
.posts-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 95vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-container {
  background-color: $postContainerColor;
  text-align: center;
  margin-bottom: 1rem;
  padding: .5rem;
}
.buttonclass{
  margin-left: 1rem;
  background-color: $buttonColor;
  padding: .3rem;
  border-radius: .5rem;
  font-weight: bold;
 
  
  &:hover{
    background-color: $postContainerColor;
    border-style: solid;
    border-color:$headerBgColor ;
  }
}
.messageclass{
  background-color: $postColor;
  border-radius: .5rem;
  border-color: $buttonColor;
}