@import "../App.scss";
@import "../mixins.scss";

img {
 
  max-width: 85vw;
  max-height: 40vh;
}
.profileClass{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: left;
  padding:.3em;
}
.post-header{
  background-color:#A5668B;
}
.posts-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 95vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-container {
  background-color: $postContainerColor;
  text-align: left;
  margin-bottom: 1rem;
  padding: .5rem;
}
.buttonclass{
  @include button();
}
.messageclass{
  background-color: $postColor;
  border-radius: .5rem;
  border-color: $buttonColor;
}